
.button-shape {
border-radius: 50%;
color: hotpink;
}

.btn-postn{
    text-align: center;
    margin-top: 250px;
}

#awsome{
    height:200px;
    width:200px;
    font-size: 30px;
}

.button-hover{
    background-color: royalblue;
}

.button-original{
    background-color: lawngreen;
}
