.main{
    background-color: #f7f7f7;
    }
    
    span{
        color :red;
    }
    .list{
        margin-top: 70px;
        display: flex;
        flex-direction: row;
    }
    li{
        list-style: none;
        padding : 8px;
    }
    ul p{
      width: 100%;
      text-align: justify;  
    }
    .dressImage{
        width: 310px;
        height: 300px;
    }
    h5{
        text-align: center;
    }
    .btn{
        margin-left: 50%;
        
    }
    
    #showList{
        margin-left: 50%;
        
    }
    #totalListBtn{
        display: flex;
  justify-content: space-between;
padding-left: 5px;
padding-right: 8px;
    }
    .cartBtn{
        
        margin-left:50px;
       width: 250px;
       height: 50px; 
        
    } 